*{
    margin: 0;
    padding: 0;
}


.conntact{
    margin-top: 1px;
    text-align: center;
    border: 1px solid rgb(148, 145, 145);
}

.conntact__title {
    text-align: left;
    padding: 1rem;
    border: 1px solid rgb(148, 145, 145);
    background-color: rgb(241, 241, 241);
}

.contact__inputs {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 50%;
    margin: 7px;
    padding: 7px;
}

button {
    width: 50%;
}

.btnconntact {
    background-color: black;
    color: white;
}

.conntact__add {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid rgb(148, 145, 145);
    width: 60%;
    margin-top: 1rem;
    justify-content: center;
}

.name {
    margin: 5px;
   line-height: 4px;
}



.phone {
    margin: 5px;
}

.delete {
    background-color: red;
    color: white;
    width: 30%;
    align-items: right;
}


